<header>
    <nav>
        <a href='/'>NTNU BANK</a>
        <ul>
            <li><a href='/customers'>All Customers</a></li>
            <li><a href='/customers/insert'>Create Customer</a></li>
        </ul>
    </nav>
</header>