<header>
    <nav>
        <a href='/'>NTNU BANK</a>
        <ul>
            <li><a href='/customers/insert'>Insert Customer</a></li>
            <li><a href='/customers/update'>Update Customer</a></li>
            <li><a href='/customers/delete'>Delete Customer</a></li>
        </ul>
    </nav>
</header>