<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <div class='text-center'>
            <h2>NTNU BANK</h2>
            <hr>

            <div>
                <form action='#' method='#'>
                    <input type='text' name='personal_number'><br><br>
                    <button type='submit'>Submit</button>
                </form>
            </div>
        </div>

    </body>
</html>