<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <div class='text-center'>
            <h2>NTNU BANK</h2>
            <hr>

            <div>
                <form action='#' method='#'>
                    <input type='text' name='personal_number'><br><br>
                    <button type='submit'>Submit</button>
                </form>
            </div>
            <br>
            <hr>
            <div>
                <h3>Insert Customer</h3>
                <form action='#' method='#'>
                    <label for='fname'>First name:</label><br>
                    <input type='text' name='fname' id='fname'><br>
                    <label for='lname'>Last name:</label><br>
                    <input type='text' name='lname' id='lname'><br><br>
                    <button type='submit'>Save</button>
                </form>
            </div>
            <br>
            <hr>
            <div>
                <h3>Update Customer</h3>
                <form action='#' method='#'>
                    <label for='personalNum'>Personal Number:</label><br>
                    <input type='text' name='personalNum' id='personalNum'><br>
                    <label for='fname'>First Name:</label><br>
                    <input type='text' name='fname' id='fname'><br><br>
                    <button type='submit'>Save</button>
                </form>
            </div>
            <br>
            <hr>
            <div>
                <h3>Delete Customer</h3>
                <form action='#' method='#'>
                    <label for='personalNum'>Personal Number</label><br>
                    <input type='text' name='personalNum' id='personalNum'><br><br>
                    <button type='submit'>Delete</button>
                </form>
            </div>
            <br>
        </div>

    </body>
</html>