<div>
    <h3>Delete Customer</h3>
    <form action='#' method='#'>
        <label for='personalNum'>Personal Number</label><br>
        <input type='text' name='personalNum' id='personalNum'><br><br>
        <button type='submit'>Delete</button>
    </form>
</div>