<div>
    <h3>Insert Customer</h3>
    <form action='/customers' method='POST'>
        <label for='personalNum'>Personal Number:</label><br>
        <input type='text' name='personalNum' id='personalNum'><br>

        <label for='accountNum'>Account Number:</label><br>
        <input type='text' name='accountNum' id='accountNum'><br>

        <label for='fname'>First name:</label><br>
        <input type='text' name='fname' id='fname'><br>

        <label for='lname'>Last name:</label><br>
        <input type='text' name='lname' id='lname'><br>

        <label for='dateofbirth'>Date of Birth:</label><br>
        <input type='text' name='dateofbirth' id='dateofbirth'><br>

        <label for='city'>City:</label><br>
        <input type='text' name='city' id='city'><br><br>

        <button type='submit'>Save</button>
    </form>
</div>