<div>
    <h3>Update Customer</h3>
    <form action='#' method='#'>
        <label for='personalNum'>Personal Number:</label><br>
        <input type='text' name='personalNum' id='personalNum'><br>
        <label for='fname'>First Name:</label><br>
        <input type='text' name='fname' id='fname'><br><br>
        <button type='submit'>Save</button>
    </form>
</div>